&copy; Mirko Piani - *PhD student in Precision Orchard Management (POM), university of Bologna (IT)*\
___

If you are having problems with the notebook, contact me at mirko.piani2@unibo.it

# Variables

A Python [variable](https://www.aees.gov.in/htmldocs/downloads/XI_Class_Content_Computer_Science/8-Handout.pdf) is a reserved memory location to store values within your Random Access Memory (RAM).

Each variable has a specified data type, that could be:
+ `str` - string
+ `int` - integer number
+ `float` - floating number
+ native data structures
+ non native data structures

variables could have any `<name>`, but it should start with a letter. A data type is assigned to the variable trough the `=` operator.

    <name> = <data_type>

for further informarion on variables, use this [link](https://www.aees.gov.in/htmldocs/downloads/XI_Class_Content_Computer_Science/8-Handout.pdf)

# Strings

Strings are textual data.

In [1]:
# basic string
string_variable = 'this is a string variable'
print(string_variable)


# f-string - it includes variables data in a string. fo include variable initialize the string with 'f' (=format) and include variables between curcly brackets
datatype = f'The string {string_variable} is of data type: {type(string_variable)}'
print(datatype)

this is a string variable
The string this is a string variable is of data type: <class 'str'>

In [2]:
# string could aslo include numbers, BUT THOSE CANNOT BE DIRECTLY used as numbers

numeric_string = '1'
another_numeric_string = '2'

# use '+' to add the two strings
sum_string = numeric_string + another_numeric_string
print(sum_string)

12

As you can notice 1 + 2 is not 12, but when using strings the `+` does **string concatenation**

In [3]:
string1 = 'Ciao!'
string2 = '-- Welcome'
print(f'{string1 + string2}')

Ciao!-- Welcome

To sum the numeric string as they have numeric values, it is possible to convert strings to intgeres with the `int()`

In [5]:
# string could aslo include numbers, BUT THOSE CANNOT BE DIRECTLY used as numbers

numeric_string = '1'
another_numeric_string = '2'

# use '+' to add the two integers 'int()'
sum_int = int(numeric_string) + int(another_numeric_string)
print(sum_int)

3

As you can notice  now 1 + 2 is equal to 3, that is right!

# Integers

**Integers** are numbers without decimal positions

In [2]:
int_variable = 1
print(int_variable)

# f-string - it includes variables data in a string. fo include variable initialize the string with 'f' (=format) and include variables between curcly brackets
datatype = type(int_variable)
print(datatype)

1
<class 'int'>

In [4]:
# define two integers variables
int1 = 2
int2 = 3

# sum
sum_variable = int1 + int2
print(f'Sum {sum_variable}')

# subtract
subtract_variable = int1 - int2
print(f'subtraction {subtract_variable}')

# multiply
multiply_variable = int1 * int2
print(f'Multiplication {multiply_variable}')

# integer division
integer_division_variable = int1 // int2
print(f'Integer division {integer_division_variable}')

# division
division_variable = int1 / int2
print(f'Division {division_variable}')

# exponential
exp_variable = int1 ** int2
print(f'Exponential {exp_variable}')

Sum 5
subtraction -1
Multiplication 6
Integer division 0
Division 0.6666666666666666
Exponential 8

# floats

**Floats** are numbers with decimal positions

In [5]:
float_variable = 1.46
print(float_variable)

# f-string - it includes variables data in a string. fo include variable initialize the string with 'f' (=format) and include variables between curcly brackets
datatype = type(float_variable)
print(datatype)

1.46
<class 'float'>

In [6]:
# define two variables as decimal numbers
float1 = 2.004
float2 = 10.3

# sum
sum_variable = float1 + float2
print(f'Sum {sum_variable}')

# subtract
subtract_variable = float1 - float2
print(f'subtraction {subtract_variable}')

# multiply
multiply_variable = float1 * float2
print(f'Multiplication {multiply_variable}')

# integer division
integer_division_variable = float1 // float2
print(f'Integer division {integer_division_variable}')

# division
division_variable = float1 / float2
print(f'Division {division_variable}')

# exponential
exp_variable = float1 ** float2
print(f'Exponential {exp_variable}')

Sum 12.304
subtraction -8.296000000000001
Multiplication 20.6412
Integer division 0.0
Division 0.1945631067961165
Exponential 1286.904996647773

<center>



<img src="" />



</center>

# Lists

In [16]:
# define a list with square brackets
list_variable = ['1', 1, 1.11, [1, 'a']]

print(type(list_variable))

<class 'list'>

In [9]:
print(list_variable)

# add a value to a list
list_variable.append('new_string')

print(list_variable)

['1', 1, 1.11, [1, 'a']]
['1', 1, 1.11, [1, 'a'], 'new_string']

In [12]:
# explore the type of each item in the list
for item in list_variable:
    # the indentation allows to perform the same operation for each loop
    print(f'{item} is type {type(item)}')  # the indentation defines a second order algorithm

1 is type <class 'str'>
1 is type <class 'int'>
1.11 is type <class 'float'>
[1, 'a'] is type <class 'list'>
new_string is type <class 'str'>

In [13]:
# access first element in the list
print(list_variable[0])

1

In [17]:
print(f'before: {list_variable}')

# change value to second indexed element
list_variable[1] = 33

print(f'\nafter: {list_variable}')

before: ['1', 1, 1.11, [1, 'a']]

after: ['1', 33, 1.11, [1, 'a']]

**Lists are mutable**, meaning you can change their content (add, remove, or modify elements).

Explore other possible operations with list [here](https://www.naukri.com/code360/library/what-are-the-python-list-operations)

# Tuples

In [18]:
# define a list with rounded brackets
tuple_variable = ('1', 1, 1.11, [1, 'a'])

print(type(tuple_variable))

<class 'tuple'>

Explore operations with tuples at this [link](https://www.tutorialspoint.com/python/python_tuples.htm)

**Tuples are NOT mutable**, meaning you can't change their content (add, remove, or modify elements).

In [24]:
print(f'before: {tuple_variable}')

# it will raise an error since we try to change the second value in the tuple (operation not allowed)
tuple_variable[1] = 33

before: ('1', 1, 1.11, [1, 'a'])

TypeError: 'tuple' object does not support item assignment

As you can see ***TypeError: 'tuple' object does not support item assignment***

# Dictionaries

In [35]:
# initialise a dictionary with curly brackets
dictionary_variable = {}

print(dictionary_variable)
print(type(dictionary_variable))

{}
<class 'dict'>

A dictionary is a particular data type that allows the assignment of **items** structured as **key : value** pairs.

Keys and values could be of whatever data type: string, integers, float, list, tuples, dictionaries

In [36]:
dictionary_variable = {'key' : 1}

print(dictionary_variable)

{'key': 1}

In [37]:
# add an item to the dictionary
dictionary_variable.update({1 : 0})
dictionary_variable.update({'list' : [1,2,3,4,5,6]})

print(dictionary_variable)

{'key': 1, 1: 0, 'list': [1, 2, 3, 4, 5, 6]}

In [38]:
# get the dictionary keys
dictionary_variable.keys()

dict_keys(['key', 1, 'list'])

In [39]:
# get the dictionary values
dictionary_variable.values()

dict_values([1, 0, [1, 2, 3, 4, 5, 6]])

In [40]:
# get the dictionary items
dictionary_variable.items()

dict_items([('key', 1), (1, 0), ('list', [1, 2, 3, 4, 5, 6])])

as you can porbably noticed, by calling the methods `keys()`, `values()`, `items()` the output contains lists and tuples.

# Sets

[Sets](https://www.w3schools.com/python/python_sets.asp) are particular data type that **do not allow the presence of duplicated data**.

In [42]:
# a set is defined with curly brackets, but it is not structured in key : value pairs as dictionaries
set_variable = {"apple", "banana", "cherry", "apple"}
print(set_variable)

{'cherry', 'apple', 'banana'}

As you may notice, "apple" string was duplicated, but the set is showing the string just once. It tells that the data is at least once inside the set.

In [44]:
# get unique values in a list
numeric_list = [5, 5, 5, 5, 5, 5, 5, 7, 7, 1, 1, 1, 1, 1, 2, 3, 4]
set_list = set(numeric_list)
print(set_list)

{1, 2, 3, 4, 5, 7}

As you may notice, the set gives also an order to its values.

In [47]:
# access the fourth element in the set
print(set_list[3])

TypeError: 'set' object is not subscriptable

It is not possible to directly access set's data, it is at first needed to convert the set into a list wich is indexed.

In [48]:
back_to_list = list(set_list)

# access the fourth element in the set
print(back_to_list[3])

4

# Non-native python data structures
+ [Numpy arrays](https://numpy.org/)
+ [Pandas dataframes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)